  <!DOCTYPE html>
  <html>
    <head>
       <!-- Compiled and minified CSS -->
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

	  <!-- Compiled and minified JavaScript -->

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <style>
      	img.faint {
		      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
		      filter: grayscale(100%);
		    }

        body {
          width: 100%;
        }

        #app-container {
          width: 800px;
          margin: 20px auto;
          text-align: center;
        }

        #img-plain {
          margin: 10px;
        }

        textarea {
          margin: 10px;
        }

      </style>

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
      <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>-->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
      <script src="app.js"></script>
    </head>

    <body ng-app="pokemonApp">
      
    <div class="col s12 m6" id="app-container" ng-controller="MainController as ctrl">

      <a class="waves-effect waves-light btn" ng-click="ctrl.selectMode ('generate')">Story Mode</a>
      <a class="waves-effect waves-light btn" ng-click="ctrl.selectMode('decrypt')">Decrypt Mode</a>

      <div ng-show="ctrl.isModeGenerate()">
        <h2 class="header">Story Mode - Generate your Story</h2>
        
        <em>Please use the web tool only for small texts (50-60 characters ideally). You can use the CLI tools directly for any arbitrary size of text (hopefully;p). Find the code at <a href="https://github.com/vaslabs/steganomon">https://github.com/vaslabs/steganomon</a></em>

        <textarea id="txt-plain" placeholder="ONLY [A-Za-z] alphanumeric input!" maxlength="70"></textarea>
        <a class="waves-effect waves-light btn" ng-click="ctrl.generateStory()">Generate story</a>

        <a class="waves-effect waves-light btn" ng-click="ctrl.toggleRawStory()">Toggle raw story JSON</a>
        <textarea id="txt-raw-story" ng-if="ctrl.isShowingRawStory()">{{ ctrl.activeStory }}</textarea>

        <div ng-repeat="entry in ctrl.activeStory" class="story-entry">
          <div class="card horizontal">
            <div class="card-image">
              <img ng-src="{{ !entry.trainer ? 'pokemon_images/Oak.gif' : entry.trainer + '.jpg' }}">
            </div>
            
            <div class="card-stacked">
              <div class="card-content"><p>{{ entry.message }}</p></div>
              <div class="card-action">
                <img 
                  ng-if="entry.message.indexOf(' uses ') >= 0"
                  ng-src="{{ 'pokemon_images/' + entry.message.substring(0, entry.message.indexOf(' uses')).toLowerCase()+'.png' }}" />

                <img 
                  ng-if="entry.message.indexOf(', I choose you!') >= 0 && entry.message.substring(0,entry.message.indexOf(', I choose you!')).split(', ').length >= 2"
                  ng-src="{{ 'pokemon_images/' + entry.message.substring(0,entry.message.indexOf(', I choose you!')).split(', ')[1].toLowerCase()+'.png' }}" />
                <img 
                  ng-if="entry.message.indexOf(', I choose you!') >= 0 && entry.message.substring(0,entry.message.indexOf(', I choose you!')).split(', ').length >= 2"
                  ng-src="{{ 'pokemon_images/' +  entry.message.substring(0,entry.message.indexOf(', I choose you!')).split(', ')[0].split(': ')[1].toLowerCase()+'.png' }}" />
                <img 
                  ng-if="entry.message.indexOf(', I choose you!') >= 0 && entry.message.substring(0,entry.message.indexOf(', I choose you!')).split(', ').length < 2"
                  ng-src="{{ 'pokemon_images/' +  entry.message.substring(0,entry.message.indexOf(', I choose you!')).split(', ')[0].split(': ')[1].toLowerCase()+'.png' }}" />

                <img class="faint"
                  ng-if="entry.message.indexOf(' fainted') >= 0"
                  ng-src="{{ 'pokemon_images/' + entry.message.substring(0,entry.message.indexOf(' fainted!')).toLowerCase()+'.png' }}">

              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-show="!ctrl.isModeGenerate()">
        <h2 class="header">Decrypt the message</h2>
           
        <textarea id="txt-encrypted"></textarea>

        <a class="waves-effect waves-light btn" ng-click="ctrl.decrypt()">Decrypt</a>

        <div>
          <img id="img-plain" />
        </div>
      </div>

    </div>

    </body>
  </html>
        